* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #222222;
    --main-color-1: #1C1C1C;
    --main-color1: #303030;
    --text-color: #ffffff;
    --background-color: #000000;
    --blue: #0B00A1;
    --light-blue: #6BB0FF;
    --yellow: #A18E00;

    font-size: 0.625rem;
    /* 10px */
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--main-color-1);
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font: normal 1.6rem arial;
}

img {
    width: 50px;
}

.container-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    z-index: 2;
}

strong {
    color: var(--light-blue);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--main-color-1);
    border-bottom: var(--blue) 4px solid;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1.5rem;
}

nav a {
    transition: .3s;
}

nav a:hover {
    color: var(--yellow);
    transition: .3s;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle-theme {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    min-width: 60px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.container-ico-theme {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.32rem;
    z-index: 1;
}

.ico-theme {
    position: relative;
    width: 18px;
    z-index: 2;
}

.label-toggle-switch {
    position: absolute;
    width: 100%;
    height: 100%;
}

.label-toggle-switch::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    border-radius: 70px;
    top: 2.5px;
    left: 2.5px;
    transition: 0.5s;
}

input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    height: 100vh;
}

.container-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    max-width: 100rem;
}

.flex-left {
    align-self: flex-start;
}

.flex-right {
    align-self: flex-end;
}

.color-blue {
    color: var(--light-blue);
}

h1 {
    font: bolder 7rem times;
    background-image: url('../assets/images/background_gold.gif');
    /* Imagem de fundo */
    background-size: auto;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
    -text-fill-color: transparent;
}

.typing-effect-top {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    /* Inicia transparente */
    width: 0;
    animation:
        typing-top 2s steps(40, end) forwards,
        blink-caret 1s step-end 2s,
        /* Só pisca durante 3s */
        hide-caret 2s step-end forwards;
    /* Esconde ao final */
}

.typing-effect-bottom {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    /* Inicia transparente */
    width: 0;
    animation:
        typing-bottom 2s steps(40, end) forwards,
        blink-caret 1s step-end infinite;
    /* Só pisca durante 3s */
    animation-delay: 2s;
}

#apresentation-title-h2 {
    display: block;
    font: bold 6.2rem times;
    width: 40%;
    color: var(--text-color);
}

#apresentation-title-h3 {
    font: bold 3.5rem times;
    color: var(--text-color);
}

.section-title-h2 {
    font: bold 3.5rem times;
    color: var(--yellow);
    margin: 0 0 8rem 0;
    z-index: 2;
}

/* Seção Sobre mim */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom,
            #30303000 0%,
            var(--main-color1) 20%,
            var(--main-color1) 83%,
            #30303000 97%);
}

.text-about {
    max-width: 48rem;
    text-align: justify;
    font-size: 1.8rem;
}

.buttons-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.btn {
    width: 100%;
    max-width: 20rem;
    background-color: var(--blue);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 8px 10px 28px #0b00a134;
}

.about-background {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 600px;
    color: #2222223a;
    z-index: 1;
    user-select: none;
    /* Bloqueia seleção */
    -webkit-user-select: none;
    /* Safari/Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 8rem;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        var(--main-color-1) 40%,
        var(--main-color-1) 70%,
        transparent 100%
    );
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    gap: 5rem;
}

.skill {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill img {
    width: 5rem;
    margin-bottom: .4rem;
}

.donut {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(
        var(--blue) 0% 30%,
        /* Cor do progresso */
        var(--main-color1) 30% 100%
        /* Cor do fundo */
    );
    position: absolute;
    top: 0;
    left: 0;
}

.donut::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: var(--main-color);
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 8.5rem;
}

#donut-html-5 {
    background: conic-gradient(
        var(--blue) 0% 60%,
        /* Cor do progresso */
        var(--main-color1) 60% 100%
        /* Cor do fundo */
    );
}

#donut-css-3 {
    background: conic-gradient(
        var(--blue) 0% 50%,
        var(--main-color1) 50% 100%
    );
}

#donut-javascript {
    background: conic-gradient(
        var(--blue) 0% 50%,
        var(--main-color1) 50% 100%
    );
}

#donut-github {
    background: conic-gradient(
        var(--blue) 0% 45%,
        var(--main-color1) 45% 100%
    );
}

#donut-git {
    background: conic-gradient(
        var(--blue) 0% 40%,
        var(--main-color1) 40% 100%
    );
}

#donut-inglês {
    background: conic-gradient(
        var(--blue) 0% 40%,
        var(--main-color1) 40% 100%
    );
}

#donut-scrum {
    background: conic-gradient(
        var(--blue) 0% 40%,
        var(--main-color1) 40% 100%
    );
}

#donut-react {
    background: conic-gradient(
        var(--blue) 0% 33%,
        var(--main-color1) 33% 100%
    );
}

#donut-figma {
    background: conic-gradient(
        var(--blue) 0% 33%,
        var(--main-color1) 33% 100%
    );
}

#donut-nodejs {
    background: conic-gradient(
        var(--blue) 0% 33%,
        var(--main-color1) 33% 100%
    );
}


#donut-mysql {
    background: conic-gradient(
        var(--blue) 0% 25%,
        var(--main-color1) 25% 100%
    );
}

#donut-python {
    background: conic-gradient(
        var(--blue) 0% 22%,
        var(--main-color1) 22% 100%
    );
}

#donut-java {
    background: conic-gradient(
        var(--blue) 0% 20%,
        var(--main-color1) 20% 100%
    );
}

#donut-csharp {
    background: conic-gradient(
        var(--blue) 0% 18%,
        var(--main-color1) 18% 100%
    );
}

.projects {
    padding-top: 0;
}
