* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #222222;
    --main-color-1: #1C1C1C;
    --main-color1: #303030;
    --text-color: #ffffff;
    --background-color: #000000;
    --blue: #0B00A1;
    --blue-1: #1b0bff;
    --light-blue: #6BB0FF;
    --yellow: #A18E00;

    font-size: 0.625rem;
    /* 10px */
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: var(--main-color-1);
}

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
}

body {
    background-color: var(--main-color);
    color: var(--text-color);
    font: normal 1.6rem arial;
}

.rotate {
    transform: rotate(180deg);
}

.container-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    z-index: 2;
}

strong {
    color: var(--light-blue);
}

header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: var(--main-color-1);
    border-bottom: var(--blue) 4px solid;
    width: 100%;
    z-index: 3;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    gap: 1.5rem;
}

nav a {
    transition: .3s;
}

nav a:hover {
    color: var(--yellow);
    transition: .3s;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
    visibility: hidden;
}

.toggle-theme {
    display: flex;
    background-color: transparent;
    border: none;
    align-items: center;
    min-width: 60px;
    height: 25px;
    background-color: var(--blue);
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.container-ico-theme {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.32rem;
    z-index: 1;
}

.ico-theme {
    position: relative;
    width: 18px;
    z-index: 2;
}

.label-toggle-switch {
    position: absolute;
    width: 100%;
    height: 100%;
}

.label-toggle-switch::after {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #000000;
    position: absolute;
    border-radius: 70px;
    top: 2.5px;
    left: 2.5px;
    transition: 0.5s;
}

input:checked+label:after {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}

main {
    margin-top: 6rem;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    height: 100vh;
}

.container-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    max-width: 100rem;
}

.flex-left {
    align-self: flex-start;
}

.flex-right {
    align-self: flex-end;
}

.color-blue {
    color: var(--light-blue);
}

h1 {
    text-align: center;
    font: bolder 7rem "Audiowide", sans-serif;
    margin: 0;
    overflow: hidden;
}

.h1-matheus,
.h1-henrique {
    display: inline-block;
    background-image: url('../assets/images/background_gold.gif');
    background-size: auto;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(100vh);
    animation: slideUp 1.5s ease-out forwards;
    animation-delay: 1s;
}

.h1-henrique {
    transform: translateY(-100vh);
    animation-delay: 1.5s;
}

.typing-effect-top {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    /* Inicia transparente */
    width: 0;
    animation:
        typing-top 2s steps(40, end) forwards,
        blink-caret 1s step-end 2s,
        /* Só pisca durante 3s */
        hide-caret 2s step-end forwards;
    /* Esconde ao final */
}

.typing-effect-bottom {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid transparent;
    /* Inicia transparente */
    width: 0;
    animation:
        typing-bottom 2s steps(40, end) forwards,
        blink-caret 1s step-end infinite;
    /* Só pisca durante 3s */
    animation-delay: 3s;
}

#apresentation-title-h2 {
    display: block;
    font: bold 6.2rem times;
    width: 40%;
    color: var(--text-color);
}

#apresentation-title-h3 {
    font: bold 2.7rem "Roboto Mono", monospace;
    color: var(--text-color);
}

.section-title-h2 {
    font: bold 3.5rem times;
    color: var(--yellow);
    margin: 0 0 8rem 0;
    z-index: 2;
}

/* Seção Sobre mim */
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
    text-align: center;
    height: 100vh;
    background: linear-gradient(to bottom,
            #30303000 0%,
            var(--main-color1) 20%,
            var(--main-color1) 83%,
            #30303000 97%);
}

.text-about {
    max-width: 48rem;
    text-align: justify;
    font-size: 1.8rem;
}

.buttons-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 18rem;
}

.btn {
    width: 100%;
    max-width: 20rem;
    background-color: var(--blue);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 8px 10px 28px #0b00a134;
}

.about-background {
    font-family: 'roboto mono', monospace;
    text-align: center;
    position: absolute;
    font-size: 50vw;
    color: #2222223a;
    z-index: 1;
    user-select: none;
    /* Bloqueia seleção */
    -webkit-user-select: none;
    /* Safari/Chrome */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 8rem;
    background: linear-gradient(to bottom,
            transparent 0%,
            var(--main-color-1) 40%,
            var(--main-color-1) 70%,
            transparent 100%);
}

.container-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem;
    text-align: center;
    gap: 5rem;
}

.skill {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill img {
    width: 5rem;
    margin-bottom: .4rem;
}

.donut {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--blue) 0% 30%,
            /* Cor do progresso */
            var(--main-color1) 30% 100%
            /* Cor do fundo */
        );
    position: absolute;
    top: 0;
    left: 0;
}

.donut::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 130px;
    height: 130px;
    background: var(--main-color);
    border-radius: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    height: 8.5rem;
}

#donut-html-5 {
    background: conic-gradient(var(--blue) 0% 60%,
            /* Cor do progresso */
            var(--main-color1) 60% 100%
            /* Cor do fundo */
        );
}

#donut-css-3 {
    background: conic-gradient(var(--blue) 0% 50%,
            var(--main-color1) 50% 100%);
}

#donut-javascript {
    background: conic-gradient(var(--blue) 0% 50%,
            var(--main-color1) 50% 100%);
}

#donut-github {
    background: conic-gradient(var(--blue) 0% 45%,
            var(--main-color1) 45% 100%);
}

#donut-git {
    background: conic-gradient(var(--blue) 0% 40%,
            var(--main-color1) 40% 100%);
}

#donut-inglês {
    background: conic-gradient(var(--blue) 0% 40%,
            var(--main-color1) 40% 100%);
}

#donut-scrum {
    background: conic-gradient(var(--blue) 0% 40%,
            var(--main-color1) 40% 100%);
}

#donut-react {
    background: conic-gradient(var(--blue) 0% 33%,
            var(--main-color1) 33% 100%);
}

#donut-figma {
    background: conic-gradient(var(--blue) 0% 33%,
            var(--main-color1) 33% 100%);
}

#donut-nodejs {
    background: conic-gradient(var(--blue) 0% 33%,
            var(--main-color1) 33% 100%);
}


#donut-mysql {
    background: conic-gradient(var(--blue) 0% 25%,
            var(--main-color1) 25% 100%);
}

#donut-python {
    background: conic-gradient(var(--blue) 0% 22%,
            var(--main-color1) 22% 100%);
}

#donut-java {
    background: conic-gradient(var(--blue) 0% 20%,
            var(--main-color1) 20% 100%);
}

#donut-csharp {
    background: conic-gradient(var(--blue) 0% 18%,
            var(--main-color1) 18% 100%);
}

.projects {
    padding-top: 0;
}

.container-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}

.project:nth-child(2n) {
    align-self: flex-end;
}

.project {
    background-color: var(--main-color1);
    padding: 2rem;
    max-width: 100rem;
    margin-bottom: 8rem;

    h3 {
        font: bold 2.7rem "times new roman", sans-serif;
        color: var(--text-color);
        text-align: center;
        margin: 2rem 0 4rem 0;
    }

    .container-project {
        display: flex;
        gap: 6rem;
        margin-bottom: 3rem;
    }

    .container-img-project {
        width: fit-content;
        display: flex;
        position: relative;
    }

    .container-img-project img {
        width: 50rem;
    }

    .see-more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: .3s;
        max-width: fit-content;
    }

    .dark-background {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: .3s;
        z-index: 1;
    }

    .container-img-project:hover {
        .dark-background {
            background-color: #00000067;
            transition: .3s;
        }

        .see-more {
            opacity: 1;
            transition: .3s;
        }
    }

    .info-project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    .info-project .btn-2 {
        max-width: 16rem;
    }

    .about-project {
        text-align: justify;
    }
}

.projectDetails {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;

    h1 {
        font: bold 2.7rem "times new roman", sans-serif;
        color: var(--yellow);
        text-align: center;
        margin-bottom: 4rem;
    }

    h2 {
        font: bold 2.2rem "times new roman", sans-serif;
    }

    ul {
        list-style: circle;
        margin-left: 2rem;
    }

    li {
        margin-bottom: 1rem;
    }

    .btn-back {
        border: none;
        color: var(--text-color);
        background-color: transparent;
        cursor: pointer;
        align-self: flex-start;
        font-size: 1.6rem;
    }

    img {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .images {
        width: 60%;
    }

    .info {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .gallery {
        position: relative;
    }

    .controls {
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .controls button {
        display: flex;
        align-items: center;
        background-color: transparent;
        position: relative;
        height: 100%;
        border: none;
        border-radius: 50%;
        padding: 1.5rem;
        cursor: pointer;
        transition: .1s;
    }

    .controls button img {
        width: 4rem;
        display: none;
    }

    .btn-back-image::after {
        content: "";
        position: absolute;
        left: -3rem;
        border-radius: 50%;
        height: 60%;
        width: 3rem;
        background: transparent;

        /* Estado inicial (sem sombra) */
        box-shadow: none;

        /* Configuração da transição */
        transition: box-shadow 0.1s ease-in-out;
        /*       propriedade | duração | timing-function */
    }

    .btn-back-image:hover::after {
        box-shadow: 30px 0 43px #0000007a;
    }

    .btn-back-image:hover img {
        display: block;
    }

    .btn-next-image::before {
        content: "";
        position: absolute;
        right: -3rem;
        border-radius: 50%;
        height: 60%;
        width: 3rem;
        box-shadow: -30px 0 43px #0000007a;
    }

}

.contacts {
    margin-bottom: 8rem;

    .container-contacts {
        width: 80%;
        max-width: 120rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        gap: 2rem;
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .contact img {
        width: 5rem;
    }

    .contact button {
        background-color: var(--blue);
        border: none;
        border-radius: 50%;
        padding: 1.5rem;
        cursor: pointer;
        transition: .3s;
    }

    .contact button:hover {
        background-color: var(--blue-1);
        transition: .3s;
    }
}

/* Botão customizado */
.custom-btn {
    max-width: 20rem;
    width: 100%;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-size: 1.6rem;
}

.btn-2 {
    background: var(--blue);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-2 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-2:before,
.btn-2:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--blue);
    transition: all 0.5s ease;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:after {
    width: 0%;
    height: 2px;
}

.btn-2:hover {
    background: transparent;
    box-shadow: none;
}

.btn-2:hover:before {
    height: 100%;
}

.btn-2:hover:after {
    width: 100%;
}

.btn-2 span:hover {
    color: var(--text-color);
}

.btn-2 span:before,
.btn-2 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--blue);
    transition: all 0.5s ease;
}

.btn-2 span:before {
    width: 2px;
    height: 0%;
}

.btn-2 span:after {
    width: 0%;
    height: 2px;
}

.btn-2 span:hover:before {
    height: 100%;
}

.btn-2 span:hover:after {
    width: 100%;
}

.btn-3:hover {
    background-color: var(--blue-1);
    border: 1px solid var(--light-blue);
}
