@media screen and (max-width: 480px) {
    header {
        padding: 1.5rem 2rem !important;
        .menu-hamburguer {
            display: block;
            filter: invert(1);
        }

        .close-button {
            display: block;
            filter: invert(1);
        }

        .nav-sections {
            display: none;
        }

        .menu-open.nav-sections {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0;
            position: absolute;
            left: 1rem;
            top: 5.9rem;
            background-color: var(--main-color1);
            border-radius: 0 0 5px 5px;

            a {
                border-bottom: 1px solid var(--blue);
                padding: 1rem 2rem;
                width: 100%;
            }
            a:last-of-type{
                border: none;
            }
        }

    }
}

@media screen and (max-width: 520px) {
    .about-me {
        padding: 1.5rem !important;
    }

    .buttons-about-me {
        flex-wrap: nowrap !important;
        gap: 1rem;
    }
}

@media screen and (max-width: 852px) {
    .container-about-text-btn {
        justify-content: center !important;
    }

    .buttons-about-me {
        width: 100% !important;
        max-width: 48rem;
    }
}

@media screen and (max-width: 915px) {
    .project {
        .container-project {
            flex-flow: column;
            align-items: center;
        }

        .info-project {
            width: 100% !important;
            max-width: 500px !important;
        }
    }

    .project:nth-child(2n) .container-project {
        flex-direction: column !important;
    }

    .container-contacts {
        width: 100% !important;
        justify-content: center !important;
        gap: 5 rem !important;
    }
}
