.projectDetails {
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 2rem;

    h1 {
        font: bold 2.7rem "times new roman", sans-serif;
        color: var(--yellow);
        text-align: center;
        margin-bottom: 4rem;
    }

    h2 {
        font: bold 2.2rem "times new roman", sans-serif;
    }

    ul {
        list-style: circle;
        margin-left: 2rem;
    }

    li {
        margin-bottom: 1rem;
    }

    .btn-back {
        border: none;
        color: var(--text-color);
        background-color: transparent;
        cursor: pointer;
        align-self: flex-start;
        font-size: 1.6rem;
    }

    img {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .images {
        width: 60%;
    }

    .desktopImages {
        margin-bottom: 2rem;
    }

    .info {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .technologies-list {
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        overflow: hidden;
    }

    .gallery:hover {
        .controls {
            display: flex;
        }

        .btn-fullscreen {
            display: block;
        }
    }

    .controls {
        position: absolute;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        height: 100%;
        top: 0;
    }

    .btn-fullscreen {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        padding: 1.5rem;
        cursor: pointer;
        width: 7rem;
        z-index: 5;
    }

    .btn-fullscreen:hover img {
        filter: brightness(0);
        cursor: pointer;
        z-index: 5;
    }

    .btn-fullscreen::after {
        content: "";
        position: absolute;
        top: -6rem;
        left: 6rem;
        width: 100%;
        height: 100%;
        box-shadow: -30px 30px 40px 30px #0000005b;
        border-radius: 50%;
        z-index: -1;
        transition: .3s;
    }

    .controls button {
        display: flex;
        align-items: center;
        background-color: transparent;
        position: relative;
        height: 50%;
        border: none;
        border-radius: 50%;
        top: 25%;
        padding: 1.5rem;
        cursor: pointer;
        transition: .1s;
    }

    .controls button img {
        width: 4rem;
        z-index: 5;
    }

    .btn-back-image::after,
    .btn-next-image::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        height: 39%;
        width: 3rem;
        background: transparent;

        /* Estado inicial (sem sombra) */
        box-shadow: none;

        /* Configuração da transição */
        transition: box-shadow 0.1s ease-in-out;
        /*       propriedade | duração | timing-function */
    }

    .btn-back-image::after {
        left: -3rem;
    }

    .btn-next-image::after {
        right: -3rem;
    }

    .btn-back-image::after {
        box-shadow: 30px 0 53px #0000007a;
    }

    .controls {
        .btn-back-image:hover img,
        .btn-next-image:hover img {
            filter: brightness(0);
        }
    }

    .btn-next-image::after {
        box-shadow: -30px 0 53px #0000007a;
    }

    .btn-next-image:hover::after {
        box-shadow: -30px 0 53px #ffffff7a;
    }
    .btn-back-image:hover::after {
        box-shadow: 30px 0 53px #ffffff7a;
    }
    .btn-fullscreen:hover::after {
        box-shadow: -30px 30px 40px 30px #ffffff44;
    }

    .mobileImages {
        max-width: 40rem;
    }


    .modal {
        .popup-image {
            display: flex;
            flex-direction: column;
            width: 90%;
            background-color: var(--main-color-1);
            padding: 1rem;
            gap: 1rem;
        }

        .btn-exit-fullscreen {
            width: 3rem;
            margin-left: auto;
            cursor: pointer;
        }

        .popup-image {
            z-index: 4;
            border-radius: 5px;
            padding: 2rem;
        }

        .popup-image img {
            max-height: 90vh;
            max-width: 82vw;
            object-fit: contain
        }

        .container-image-and-btns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .btn-modal {
            width: 5rem;
        }

        .btn-modal::after {
            display: none;
        }
    }
}
